APP_ENV=development
APP_PORT=6010
APP_HOST=http://localhost:6010
DB_URL=postgres://admin123:admin123@localhost:5432/marpos?sslmode=disable
DB_TIMEZONE=Asia/Jakarta
GOOGLE_CLIENT_ID=

# Comma-separated verified Google account emails.
SUPERADMIN_EMAILS=umarkotak@gmail.com
