<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.marpos-api</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Users/umar/umar/personal_project/marpos/apps/api/marpos-api</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/umar/umar/personal_project/marpos/apps/api</string>

    <key>UserName</key>
    <string>umar</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/umar</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/umar/umar/personal_project/marpos/apps/api/marpos-api.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/umar/umar/personal_project/marpos/apps/api/marpos-api.error.log</string>
</dict>
</plist>
